*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background-color: black;
    font-family: "SF mono";
    background-image: url("./assets/bg2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    font-size: 3rem;
    letter-spacing: 13px;
    animation: bitcoinAnime 2s;
}
small {
    font-weight: 700;
}
.score {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    position: absolute;
    z-index: 10;  
    background-image: url("./assets/front.jpg");
    background-size: cover ;
}
.subtitle {
    font-size: 2rem;
    margin-top: 2rem;
}


.hide {
    display: none;
}
.bird {
    
    --bird-size: 50px;
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-icons-33/512/bitcoin-512.png");
    background-size: cover;
    position: absolute;
    width: var(--bird-size);
    height: var(--bird-size);
    left: var(--bird-size);
    top: calc(var(--bird-top) * 1px);
    border-radius: 50%;
}

.pipe {
    --pipe-width: 50;
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--pipe-width)*1px);
    left: calc(var(--pipe-left)*1px);
}

.segment {
    position: absolute;
    width: 100%;
    
}
.top {
    top: 0;
    bottom: calc(var(--hole-top)*1px);
    background-image: url("./assets/tube1.png");
    background-size: cover;
    background-position: bottom;
}
.bottom {
    --hole-height: 150;
    bottom: 0;
    top: calc(100vh - var(--hole-top)*1px + var(--hole-height)*1px);
    background-image: url("./assets/tube2.png");
    background-size: cover;
    background-position: top;
  
}

@media (max-width: 670px) {
    .bottom {
        --hole-height: 80;
        top: calc(100vh - var(--hole-top)*1px + var(--hole-height)*1px);
    }
}
@media (orientation: portrait) {
    body{
        background-size: 220%;
    }
    .title{
        background-position: bottom;
    }
}
