@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates", "Comic sans MS", sans-serif;
    box-sizing: border-box;

}

body {
   
    max-width: 100vw;
    background: url("./assets/pic/dreambg.jpeg") no-repeat;
    background-size: cover;
    background-position: top;
    overflow-x: hidden;
    

}
nav {
   position: fixed;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
}
a:hover {
    scale: 1.3;
    transition: 0.5s;
}
.title {
    position: relative;
    padding: 40px 20px 0;
    margin-left: 55vw;
    width: 700px;
    height: 100vh;
    color: white;
    backdrop-filter: sepia(100%);
    text-align: center;

}
.title h1 {
    margin-bottom: 30px;
    text-align: center;
}
.title p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: 400;
    
}
.title form {
    
    text-align: center;
    
    margin: 100px auto;

}
.title .ln-button {
    content: "\26A1";
    background-color: #e4a10f;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
  }
  .ln-button:hover {
    scale: 1.5;
    transition: 0.3s;
    background-color: #26a69a;
    box-shadow: 0 6px 10px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
  }
#homer {
   margin-top: 13%;
   margin-left: 13%;
    
    border-radius: 50%;
    border: 2px white solid;
    max-height: 50px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#homer:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 2.8px;
    margin: 5px auto;
    background-color: white;
    border-radius: 3px;
}
.hamburger .bar:nth-child(3) {
    margin-top: 6px;
}

.container {
    position: relative;
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    background-size: cover;    
}
.box {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    width: 28vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    color: white;
    padding: 50px 40px;
    transition: left 2s, scale 0.5s;
    backdrop-filter: blur(13px);
    overflow: scroll;
    font-size: 1.13rem;
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.3);
}
.box.active {
    height: 80vh;
    width: 80vw;
    padding: 20px;
    
}
.box i {
    margin-right: 20px;
}

#aboutme:hover {
   scale: 1.1;
   z-index: 10;
   
}
#aboutme h2 {
    margin-bottom: 10px;
}
#aboutme p {
    font-size: 01rem;
    margin-bottom: 15px;
}
#contact:hover {
    scale: 1.1;
   z-index: 10;
  
}
#skills ul li {
   transition: 0.5s;
   
}
#skills li:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
#skills ul img {
    height: 30px;
} 
#skills p {
    display: inline-block;
}
#skills ul {
    list-style: none;
    font-size: 1rem;
    line-height: 4;
    margin-bottom: 50px;
}
#skills:hover {
    scale: 1.1;

    z-index: 10;
}
#contact img {
    height: 30px;
    margin-right: 20px;
}
#contact ul {
    list-style: none;
    font-size: 1rem;
    line-height: 4;
    margin-bottom: 50px;
    
}
#contact a {
    text-decoration: none;
    color: white;
}
#contact li {
    transition: 0.5s;
}
#contact li:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
footer {
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


@media (max-width: 900px) and (orientation: landscape) {
    body {
       
        background-position: center;
        
    }
    nav {
        position: static;
        justify-content: center;
    }
    .title {
        padding: 30px 30px;
        margin: 0 auto;
    }
    .title form {
        margin: 0;
    }
    
    .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    .hamburger:hover > *{
        
        transition: 0.3s;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .container {
        height: 100vh;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 1s;
        overflow: scroll;
        box-shadow: none;
        
        
    }
    .container.active {
        right: 0;
    }
    .box {
        scale: 1 1;
        position: static;
        min-height: 400px;
        width: 90%;
    }
   
    #aboutme:hover {
         transform: scale(1);
       
     }
    
     #skills:hover {
          transform: scale(1);
        
     }
     #contact:hover {
          transform: scale(1);
         
     }
}
@media (orientation: portrait) and (max-width:680px){
    body {
        
        background-size: 150%;
        
    }
    nav {
        position: static;
        justify-content: center;
    }
    #homer {
        scale: 0.5;
        position: relative;
        margin: 0 auto;
    }
    .title {
        padding: 0 60px;
        height: 70vh;
        width: 100vw;
        backdrop-filter: none;
        margin: 0 auto;
        text-align: center;
    }
    .title h2 {
        margin: 0;
    }
    .title p {
        font-size: 0.9rem;
    }
    .title form {
        margin: 0;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    .hamburger:hover > *{
        
        transition: 0.3s;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }   
    .container {
        height: 100vh;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 1s;
        overflow: scroll;
        box-shadow: none;
    }
    .container.active {
        right: 0;
      
    }
    .box {
        position: static;
        min-height: 400px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #aboutme:hover {
        transform: none;

     }
     #skills:hover {
        transform: none;
    
     }
     #contact:hover {
        transform: none;
    
     }
}
